!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Real-time Chess clock
    link(rel='stylesheet', href='/css/app.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
  body
    block body