html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
}
h2.header{
  font-family: Pacifico;
  color:gray;
}
div.home{
  margin:25px;
}
div.home div{
  height:65px;
}
div.home div a{
  display: block;
  width:200px;
  font-family: 'Roboto Mono';
  text-decoration: none;
  padding:10px 0;
  background: #000;
  color:#ccc;
  text-align: center;
  font-weight: 900;
}
div.home div a:hover{
  background:red;
}