html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
  text-align: center;
}
h2.header{
  font-family: Pacifico;
  font-size: 150px;
  color:gray;
  text-align: center;
}
div.home{
  width: 100%;
  height: 100%;
}
div.home div{
  width:100%;
  min-height: 230px;
}
div.home div a{
  font-family: 'Roboto Mono';
  color:#000;
  border:2px solid #000;
  border-radius: 100%;
  padding:55px;
  margin:0px 0 10px 0;
  font-size: 60px;
  text-decoration: none;
}
div.home div a:hover{
  background: #000;
  color:#fff;
}